.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-profile > i {
    padding-right: 1em;
    color: #3A468D;
}
.user-icon {
    color: #3A468D;
}
body {
	height: 100%;
}
.navbar {
	display: flex;
	align-items: center;
	padding: 20px 5%;
	justify-content: space-between;
	position: sticky;
	z-index: 999;
}
.navbar .menu li{
	list-style: none;
	display: inline-block;
}
.navbar .menu li a{
	display: block;
	margin-left: 29px;
	color: black;
	text-decoration: none;
	font-size: 15px;
}
.navbar .menu li .active{
	border-bottom: 2px solid black;
}
.navbar .menu li a:hover{
	border-bottom: 2px solid black;
}
.menu-btn {
	color: black;
	font-size: 23px;
	cursor: pointer;
	display: none;
}
/*products*/
.sec {
    padding: 10px 5%;
    text-align: center; 
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
.products .card {
    width: 90%; 
    max-width: 320px; 
    background: #F1F9FF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 5px;
    margin: 0 10px 20px;
}
.products .card img {
	height: 250px;
	width: 100%;
}
.products .card .desc{
	padding: 5px 20px;
	opacity: 0.8;
	font-weight: 900;
	font-size: 20px;
}
.products .card .title {
	color: black;
	padding: 0 20px;
}
.products .card .box .price{
	grid-column: 4;
	grid-row: 1;
	color:#0B8973;
	font-size: 20px;
	font-weight:bold;
}
.products .card .box {
	position: relative;
	display: flex;
	justify-content:baseline;
	align-items: center;
	margin: 5px;
	width: 300px;
}
.products .card .box .btn{
	font-size: 15px;
    color: white;
    background-color: #14967F;
    padding: 5px;
    font-weight: 900;
    border: 1px solid #0B8973;
    border-radius: 20px;
    width: 10em;
    height: 35px;
    display: flex; 
    justify-content: center;
    align-items: center;
	grid-column: 3;
	grid-row: 2;
}
.qty-btn{
	position: absolute;
	left: 25px;
	top: 0;
	height: 30px;
	border: 1px solid #0B8973;
	border-radius: 20px;
	width: 100px;
	z-index: 998;
}
#increment, #decrement{
	position: absolute;
	font-size: 15px;
	height: 20px;
	width: 30px;
	padding: 2px;
	margin: 0;
	font-weight: 900;
	border: none;
	background-color: transparent;
	z-index: 999;
}
#decrement{left:2px;}
#increment{right:2px;}
.quantity{
	text-align: center;
	grid-column: 2;
	grid-row: 1;
	width: 40px;
	height: 30px;
	background: #F1F9FF;
	border-style: none;
}
form.form{
	display: grid;
	align-items: start;
	grid-template-columns: 20px 120px 20px 120px 20px;
	grid-template-rows: 40px 40px;
	width: 200px;
	z-index: 1;
	justify-items: center;
}
.products .card .box .btn:hover{
	cursor: pointer;
	background-color: white;
	color: #14967F;
}
.products .card :hover{
	cursor: pointer;
}
.cart-icon span{
display: flex;
width: 15px;
height: 15px;
font-size: 10px;
background-color: red;
justify-content: center;
align-items: center;
color: white;
border-radius: 50%;
position: absolute; 
top: 48%;
right: 4.4%;
}
@media (max-width: 820px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active::before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: #E2FCD6;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
    text-align: center; 
  }
  .navbar .menu li a {
    margin: 10px auto; 
    font-size: 15px; 
   }
   form.form{
	min-width: 320px;
	grid-template-columns: (3, 100px);
	}
}